:root {
    --color-principal: #A84AC9;
    --color-secundario: #f5f5f5;
    --color-terciario: #D9D9D9;
    --color-hover: #823B9B;
    --fuentePrincipal: 'Comfortaa', 'Poppins', sans-serif;
}
.up-nav-bar {
    background-color: #f5f5f5 !important;
}

.btn-contact a {
    color: white !important;
}

/*----------------*/
/*---- Portada ---*/
/*----------------*/
.page-section {    /* Portada Imagen */
    height: 45rem;
    background-image: url(../static/Fondo3.png);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
}
@media (min-width: 768px) {       
    .page-section {
        height: 75rem;
        background-image: url(../static/Fondo3.png);
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-attachment: fixed !important;
    }
}
.title-page {
    width: 80%;
    font-weight: 800;
    color: #fff;
}
@media (min-width: 768px) {       
    .fs-custom {            /*---- Titulo de portada ---*/
        font-size: 10rem;
    }
}
@media (max-width: 768px) {       
    .fs-custom {
        font-size: 4rem;
    }
}
.circle-icon {
    margin-top: -4rem;
}

.icon-design {
    color: #000;
}

/*--------------------*/
/*---- Descripcion ---*/
/*--------------------*/
.description h2 {
    font-weight: bold;
}
@media (min-width: 768px) {
    h2 {
        margin-right: 3rem;
    }
}
h2 span {
    color: var(--color-principal);
}
.description {
    padding: 0 2rem;
}
.description img {
    width: 80%;
    margin-bottom: 3rem;
}
.col-md-4 h2 {
    margin-bottom: 2rem;
}
.description p {
    margin-bottom: 5rem;
}
@media (min-width: 768px) {
    .col-md-4 .description h2, .col-md-8 .description p {
        margin-bottom: 10rem;
    }  
}

/*---- Accordion ---*/
.accordion-item {
    border: none;
}
h2 button {         /*---- Titulos Accordion ---*/
    font-size: 3rem !important;
}
.btn {
    background-color: var(--color-principal);
    border: none;
    padding: 1.5rem 0;
    margin-top: 2rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 1rem;
}
.btn:hover {
    background-color: var(--color-hover);
}
.btn:active {
    background-color: var(--color-hover);
}
.accordion-button:not(.collapsed) {  /* Al abrir acordeon, el fondo queda blanco */
    background-color: #fff;
}
.accordion-button:focus {            /* Al abrir acordeon, no se crea un borde alrededor del titulo */
    box-shadow: none;
}

@media (max-width: 768px) {       
    .vertical-line {
        display: none;
    }
}
@media (min-width: 768px) {       
    .vertical-line {
        border-left: 2px solid gray; 
        /* height: 35rem;  */
        width: 0.3rem;
    }
}

/*---------------------------*/
/*---- UX-UI Design Offer ---*/
/*---------------------------*/
.container-offer {
    margin: 0;
}
.offer-section {
    margin-top: 10rem;
}
.offer-section img {
    margin-top: 2rem;
    width: 15rem;
}
.shadow{
    box-shadow: 0 0.3rem 1rem rgba(0,0,0,.45)!important;
}
.card-title-design, .card-title-dev, .card-title-autom {
    font-size: 1.8rem;
    font-weight: bold;
    padding: 2rem 2rem 0 2rem;
}
.card-body-design p, .card-body-dev p, .card-body-autom p {
    padding: 0 2rem 2rem 2rem;
}

/*-----------------------*/
/*---- Gray Section 1 ---*/
/*-----------------------*/
.gray-section {
    margin-bottom: 6rem;
}
@media (min-width: 768px) {
    .gray-section {
        padding: 8rem 0;
    }
}
@media (max-width: 768px) {
    .container-gray-section-1-dev {
        margin-bottom: 8rem;
    }
}

/*---------------------*/
/*---- Pink section ---*/
/*---------------------*/
.pink-section {
    margin-bottom: 8rem;
}
.pink-section-dev {
    margin-bottom: 0;
}

/*----------------------*/
/*---- Grafico ux ui ---*/
/*----------------------*/
.design-img {
    width: 80%;
}
.step-img {
    margin: 0 auto;
}
.step-img img {
    margin: 0 auto;
}