:root {
    --color-principal: #A84AC9;
    --color-secundario: #f5f5f5;
    --color-terciario: #D9D9D9;
    --color-hover: #823B9B;
    --fuentePrincipal: 'Comfortaa', 'Poppins', sans-serif;
}
html {
    box-sizing: border-box;     /* significa que el ancho y la altura de un elemento incluyen el relleno y el borde, pero no el margen exterior. Esto es útil para mantener un mejor control del diseño y evitar problemas de desbordamiento.*/
    font-size: 62.5%;           /* 1 rem = 10px - establece el tamaño de fuente base para el documento */
}
*, *:before, *:after {
    box-sizing: inherit;        /*  hace que todos los elementos (incluyendo los pseudo-elementos) hereden el valor del modelo de caja establecido en la etiqueta html */
}
body {
    font-size: 1.6rem;
    background-color: white;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6, .menu-item a {
    font-family: var(--fuentePrincipal);
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2.2rem;
}
h4 {
    font-size: 1.4rem;
}
ul {
    list-style-type: none;
}

/*--------------*/
/*---Nav Bar ---*/
/*--------------*/
.custom-nav-bar a {
    text-decoration: none;
    color: white;
}
.bars {               /* Menu hamburguesa */
    /* margin-right: 5rem;
    padding-left: 12rem; */
    cursor: pointer;
}
.up-nav-bar, .show-sm {         /* Divisor de nav bar */
    border-bottom: 1px solid rgb(189, 189, 189);
}
span.nav-link.mr-3 {  /* Separacion entre links en nav bar */
    padding: 0 3rem;
}
.icon {
    color: white;
}

@media (min-width: 768px) {       /* Nav bar para cel */
    .show-sm {
        display: none!important;
        border-bottom: 1px solid rgb(189, 189, 189);
    }
}

@media (max-width: 767px) {
    .show-lg {                    /* Nav bar para pantallas grandes */
        display: none!important;
    }

    .show-sm {
        padding: 1rem 2rem 1rem 2rem;
        background-image: url('../static/Fondo3.png') !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-attachment: fixed !important;
        color: white;
    }
}

/*---------------*/
/*----Portada ---*/
/*---------------*/
.nav-left {
    padding: 2rem;
    background-color: var(--color-secundario) !important;
}
@media (min-width: 768px) {
    .nav-left{
        padding: 1rem 0 1rem 8rem;
    }
}
.nav-left h1 {       /* Titulo de la pagina */
    font-weight: bold;
    margin-top: 3rem;
    padding: 2rem 2rem 0 2rem;
}
@media (min-width: 768px) {
    .nav-left h1 {
        font-size: 4rem;
        font-weight: bold;
        margin-top: 15rem;
    }
}
.nav-left h2 {       /* Palabras que cambian */
    font-size: 3rem;
    text-align: center;
    margin-top: 3rem;
    color: var(--color-principal);
    font-weight: bold;
}
@media (min-width: 768px) {
    .nav-left h2 {
        font-size: 4rem;
        padding-right: 10rem;
        margin: 8rem 0;
    }
}
.nav-right {
    padding: 2rem;
    background-image: url('../static/Fondo3.png') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    color: white;
}
.nav-right-design {
    padding: 2rem;
}
.nav-right-design a {
    color: #000;
}

@media (min-width: 768px) {
    .second-nav-right {         /* Imagen portada */
        margin-top: -10rem;
    }
}
.btn {    /* Boton contactanos */
    background-color: var(--color-principal);
    border: none;
    padding: 1.5rem 8rem;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.btn:hover {
    background-color: var(--color-hover);
}
.btn:active {
    background-color: var(--color-hover);
}
button a {
    text-decoration: none !important;
    color: white !important;
}
.add-margin {
    margin-bottom: 1rem;
    padding: 2rem;
}
@media (min-width: 768px) {
    .add-margin {
        margin-bottom: 6.5rem;
    }
}

/*---------------*/
/*--Transicion---*/
/*---------------*/

/*Estilos para menu Desktop*/ 
.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 0; /* Inicialmente oculto */
    height: 100%;
    background-image: url(../static/Fondo3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 2;
    transition: width 0.5s;
}

.overlay.active + .menu {
    width: 100%; /* Muestra el menú expandiéndose de derecha a izquierda */
}
.nav-left-menu {
    padding: 1rem 0 1rem 8rem;
}
.menu-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.close-icon {
    font-size: 2.4rem;
    cursor: pointer;
    margin-right: 10rem;
    padding-top: 2rem;
}
.close-iconSM img {
    margin: 4rem 2rem;
}
.menu-bottom {
    margin-top: 3rem;
    margin-left: 10rem;
}
/* Estilos para las listas */
.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #fff;
    margin-left: 2rem;
}

.menu-list li {
    font-size: 4rem;
    font-weight: 800;
}

@media (min-width: 768px) {
    .menu-list li {
        font-size: 8rem;
        font-weight: 900;
    }
}

/* Estilos para las redes sociales */
.social-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 6rem;
    color: #fff;
    flex-wrap: wrap;
    justify-content: center
}
.social-list-item {
    margin-right: 2rem;
    
}
li a{
    text-decoration: none;
    color: #fff;
}

@media (min-width: 768px) {
    .show-mobile {
        display: none!important;
    }
}

/*Estilos para menu Mobile*/ 

.menuSM {
    position: fixed;
    top: 0;
    right: 0;
    width: 0; /* Inicialmente oculto */
    height: 100%;
    background-image: url(../static/Fondo3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 2;
    transition: width 0.5s;
}

.overlaySM.active + .menuSM {
    width: 100%; /* Muestra el menú expandiéndose de derecha a izquierda */
}

.barsSM {
    cursor: pointer;
}

@media (min-width: 575px) {
    .nav-content {
        text-align: center;
    }
}


@media (max-width: 767px) {
    .nav-content {
        justify-content: space-between;
        text-align: center;
    }
}

/*---------------*/
/*---Servicios---*/
/*---------------*/
.circle-icon {
    display: inline-block;
    width: 7rem;
    height: 7rem;
    border-radius: 50%; /* Hace que la forma sea circular */
    background-color: #e9e9e9; /* Fondo de color */
    overflow: hidden; /* Oculta cualquier contenido que se salga del círculo */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    margin: 3rem;
}
.circle-icon img {
    display: block;
    max-width: 70%;
    max-height: 70%;
    margin: 1rem; /* Centra la imagen en el círculo */
    margin-top: 1.5rem;
}
/* ---------------------------------------- */
.row .mt-5 {
    padding-right: 8rem;
    padding-left: 8rem;
}
.container-services {
    padding: 2rem;
}
@media (min-width: 768px) {
    .container-services {
        padding: 2rem 8rem;
    }
}
.container-services h2 {  /* Titulo seccion servicios */
    padding-top: 3rem;
    font-weight: bold;
}
@media (min-width: 768px) {
    .container-services h2 {
        padding-top: 6rem;
    }
}
/* .card-body .icon {
    margin-left: 1rem;
} */
.card-title {
    padding: 1rem 0 0 1rem;
    text-align: left;
}
.card-body-right {
    text-align: right;
    padding-right: 4rem;
    margin-bottom: 1rem;
}
.card-body-right p {
    text-align: left;
    padding-left: 8rem;
}
.card-text {
    margin-bottom: 2rem;
}
.btn-custom {
    display: inline-block;
    padding: 1rem 2rem;
    border: 0.2rem solid #A84AC9;
    border-radius: 5rem;
    background-color: white;
    color: #A84AC9;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 1rem;
}
.btn-custom:hover {
    background-color: var(--color-hover);
    color: white;
}
.img-equal-height {
    max-height: 270px; 
    width: 100%; 
    object-fit: cover;
}
.service-card {
    height: 100%;
}

/*-----------------------*/
/*--- Gray Section 1  ---*/
/*-----------------------*/
.gray-section {
    background-color: var(--color-secundario);
    text-align: center;
    padding: 5rem;
    position: relative;
    margin-bottom: 8rem;
}
@media (min-width: 768px) {
    .gray-section {
        padding: 8rem;
    }
}
.btn-contact {
    color: #fff;
    border: none;
    border-radius: 1rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--color-principal);
    padding: 1.5rem 8rem;
    position: absolute; /* Añadir posición absoluta */
    left: 50%;
    transform: translateX(-50%); /* Centrar horizontalmente */
    bottom: -15%; /* Centrar verticalmente en la mitad inferior */
    z-index: 1;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 1rem;
}
.btn-contact:hover {
    background-color: var(--color-hover);
}
.btn-contact:active {
    background-color: var(--color-hover);
}

/*--------------*/
/*-- Proyects --*/
/*--------------*/
/* .container-h2 {
    margin: 10rem 0 5rem 8rem;
}
@media (min-width: 768px) {
    .container-h2 {
        margin: 10rem 0 5rem 10rem;
    }
}
.gray-section-2 {
    background-color: var(--color-secundario);
    text-align: center;
    position: relative;
    height: 50rem;
} */

/*----------------------*/
/*---  Calls Desktop ---*/
/*----------------------*/
@media (max-width: 768px) {
    .show-tablet-desktop {
        display: none !important;
    }
}
.title {
    margin-bottom: 10rem;
}
.calls {
    background-color: #fff;
    text-align: center;
    padding: 8rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100rem;
}
.circle-container {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.circle {
    width: 5rem;
    height: 5rem;
    background-color: var(--color-principal);
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    margin: 1rem 0;
}
.circle-line {    /* Lineas entre circulos */ 
    width: 0.2rem;
    height: 12.2rem;
    background-color: var(--color-principal);
    margin: 0.5rem 0;
}

.card-project .step, .col-sm-8 .step {
    color: var(--color-principal);
}
.card-project h3 {
    margin: 1rem 0;
}
.projects-left {
    margin-top: -6rem;
}
.cards-container-project { /* Tarjeta 1 y 3 */ 
    width: 40%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.card-project {  /* Tarjeta 1 */ 
    margin-top: 7rem;
    text-align: left;
    background-color: #fff;
    border: 2px solid var(--color-principal);
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}
#card-2 {   /* Tarjeta 2 */ 
    margin-top: 21rem;
}
#card-3 {   /* Tarjeta 3 */ 
    margin-top: 19rem;
}
.calls button {
    background-color: var(--color-principal);
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1.5rem 8rem;
    margin-top: 22rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.calls button:hover {
    background-color: var(--color-hover);
}

/*---------------------*/
/*---  Calls Mobile ---*/
/*---------------------*/
.title-calls {
    margin-bottom: 3rem;
    text-align: center;
}
@media (max-width: 576px) {
    .col-sm-8 {
        flex: 0 0 auto;
        width: 80%;
    }

    .col-sm-4 {
        flex: 0 0 auto;
        width: 20%;
    }
} 
.card-project-mobile {  
    border: 2px solid var(--color-principal);
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}
.col-sm-8 h3 {
    margin: 1rem 0;
}
.col-sm-8 {
    margin-bottom: 3rem;
}

/*---------------*/
/*--- Innovar ---*/
/*---------------*/
.container-innovar {
    margin-top: 4rem;
}
.gray-section-3 {
    background-color: var(--color-secundario);
    padding: 4rem 2rem;
}
@media (min-width: 768px) {
    .gray-section-3 {
        margin: 0 8rem
    }
}
.gray-section-3 h2 {
    margin-top: 4rem;
    margin-bottom: 0;
    font-weight: bold;
}
.gray-section-3 p {
    text-align: center;
    padding: 2rem 4rem;
    margin-bottom: 0;
    font-size: 1.8rem;
}
.gray-section-3 img {
    margin-top: 8rem;
    margin-left: -10rem;
}
@media (min-width: 768px) {
    .gray-section-3 img {
        margin-left: -20rem;
    }
}
.pink-section, .pink-section-dev {
    background-color: rgba(167, 74, 201, 0.5);
    padding: 4rem 2rem;
}
@media (min-width: 768px) {
    .pink-section {
        margin: 0 8rem;
        padding: 4rem 2rem;
    }
}
.pink-section h2 {
    margin-bottom: 2rem;
}

/*--------------------*/
/*--- Estadisticas ---*/
/*--------------------*/
/* .pink-section {
    background-color: rgba(167, 74, 201, 0.5);
    padding: 4rem 2rem;
}
@media (min-width: 768px) {
    .pink-section {
        margin: 0 8rem;
    }
}
.col-md-3 {
    margin-bottom: 4rem;
}
@media (min-width: 768px) {
    .col-md-3 {
        margin-bottom: 0;
    }
}
.fw-bold {
    font-size: 4rem;
} */

/*-------------------*/
/*--- Testimonios ---*/
/*-------------------*/
.gray-section-4 {
    background-color: var(--color-secundario);
    padding: 5rem 4rem;
}
@media (min-width: 768px) {
    .gray-section-4{
        margin: 0 8rem;
        padding: 8rem 4rem;
    }
}
.col-md-6 h2 {
    margin-bottom: 1rem;
}
@media (min-width: 768px) {
    .col-md-6 h2 {
        margin-bottom: 2rem;
    }
}
.testimonios img{   /* Iconos flechas */
    width: 10%;
}
@media (min-width: 768px) {
    .testimonios img{
        width: 6%;
    }
}
.col-md-6 p {
    margin: 2rem 0;
}
@media (min-width: 768px) {
    .col-md-6 p {
        margin: 0 0 2rem 0;
    }
}
.col-md-6 h4 {
    font-weight: bold;
}

.position-relative {
    position: relative !important;
    /* background-color: blue; */
}

.carousel-control-prev-icon {
    background-image: url("../static/documentos web global/iconos/flecha-i.svg") !important;
}

.carousel-control-next-icon {
    background-image: url("../static/documentos web global/iconos/flecha-d.svg") !important;
}

.container-calls-mobile {
    padding: 2rem;
}

/*-------------------------*/
/*--- Por que elegirnos ---*/
/*-------------------------*/
@media (min-width: 768px) {
    .container-elegirnos {
        margin: 0 8rem;
    }
}
.team-section {
    padding: 0 2rem;
    margin-bottom: 5rem;
}
@media (min-width: 768px) {
    .team-section {
        padding: 0;
    }
}
.title-team h2 {
    margin: 6rem 0 4rem 0 !important;
    font-weight: bold;
}
.team-section h3 {
    font-weight: bold;
    margin: 1rem 0 0 0;
}
.equipo {
    justify-content:space-around;
    width: 50%;
    height: 25%;
    align-self: center;
}
@media (max-width: 768px) {
    .equipo {
        justify-content:space-around;
        width: 100%;
        height: auto;
    }
}

/*----------------------*/
/*--- Gray Section 5 ---*/
/*----------------------*/
.gray-section-5 {
    background-color: var(--color-secundario);
    padding: 4rem 4rem;
}
@media (min-width: 768px) {
    .gray-section-5 {
        margin: 0 12rem;
        padding: 6rem 4rem;
    }
}
.gray-section-5 button {
    background-color: var(--color-principal);
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1.5rem 4rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.gray-section-5 button:hover {
    background-color: var(--color-hover);
}
.text-center {
    /* margin-top: 2rem; */
    margin-bottom: 0;
}

/*---------------------*/
/*--- Boton go back ---*/
/*---------------------*/
.container-go-back {
    background-color: #fff;
}
.go-back{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: var(--color-principal);
    margin: 2rem 0 2rem 2rem;
}
.go-back img { 
    margin: 1.3rem;  /* Icono en el medio del circulo */
}

/*--------------*/
/*--- Footer ---*/
/*--------------*/
.container-footer {
    padding: 2rem;
}
@media (min-width: 768px) {
    .container-footer {
        padding: 8rem;
    }
}
footer {
    color: #fff;
    background-color: var(--color-principal);
}
.col-md-4 h2 {
    margin-top: 3rem;
}
@media (min-width: 768px) {
    .col-md-4 h2 {
        margin-top: 0;
    }
}
.text-left h2, .text-left p {
    margin-left: 2rem;
}
.col-md-4 .trabaja {
    font-size: 1.8rem;
    font-weight: bold;
}
.col-md-4 p {
    margin-bottom: 6rem;
}
@media (min-width: 768px) {
    .col-md-4 p {
        margin-bottom: 0;
    }
}
.col-md-4 .trabaja, .mail {
    margin-bottom: 1rem;
}
.celular {
    margin-bottom: 6rem;
}

/* Whatsapp Icon */
.whatsapp-icon {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 1000;
    display: block;
    border-radius: 50%;
}
.whatsapp-icon img {
display: block;
width: 70px;
height: 70px;
}
@keyframes slideUp {
from {
    transform: translateY(100px); /* Puedes ajustar este valor */
    opacity: 0;
}
to {
    transform: translateY(0);
    opacity: 1;
}
}
@keyframes float {
0%, 100% {
    transform: translateY(0);
}
50% {
    transform: translateY(-10px); /* Puedes ajustar este valor */
}
}
.whatsapp-icon {
/* Otros estilos... */
animation: slideUp 1s forwards, float 2s infinite 1s;
}

/* error 404 */
.error404-container {
    padding: 3rem 0 0 9rem;
}
.error-container {
    padding: 0 3rem 3rem 3rem;
    text-align: center;
}
.image-container {
    padding: 4rem 0;
}
.text-error h1 {
    margin-bottom: 1rem;
}
.text-error p {
    margin-bottom: 2rem;
}
.btn-volver {
    color: #fff;
    background-color: var(--color-principal);
    border: none;
    border-radius: 1rem;
    font-size: 1.6rem;
    /* font-weight: bold; */
    padding: 1rem 4rem;
}
  