:root {
    --color-principal: #A84AC9;
    --color-secundario: #f5f5f5;
    --color-terciario: #D9D9D9;
    --color-hover: #823B9B;
    --fuentePrincipal: 'Comfortaa', cursive, 'Poppins', sans-serif;
}
.up-nav-bar {
    background-color: #f5f5f5 !important;
}

/*----------------*/
/*---- Portada ---*/
/*----------------*/
.title-page {
    width: 80%;
    font-weight: 800;
    color: #fff;
}
@media (min-width: 768px) {       
    .fs-custom {            /*---- Titulo de portada ---*/
        font-size: 10rem;
    }
}
@media (max-width: 768px) {       
    .fs-custom {
        font-size: 4rem;
    }
}
.description {
    padding: 0 2rem;
}
h2 {
    font-weight: bold;
}
@media (min-width: 768px) {
    h2 {
        margin-right: 3rem;
    }
}
h2 span {
    color: var(--color-principal);
}
.page-section {
    height: 45rem;
    background-image: url(../static/Fondo3.png);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
}
@media (min-width: 768px) {       
    .page-section {
        height: 750px;
        background-image: url(../static/Fondo3.png);
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-attachment: fixed !important;
    }
}

.circle-icon {
    margin-top: -50px;
}

.description img {
    width: 100%;
}

.accordion-button:not(.collapsed) {
    background-color: #fff;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-item {
    border: none;
}

.accordion-item h2 {
    font-weight: 700;
}

h2 button { 
    font-size: 30px !important;
}

@media (max-width: 768px) {       
    .vertical-line {
        display: none;
    }
}

@media (min-width: 768px) {       
    .vertical-line {
        border-left: 2px solid #000; 
        height: 350px; 
        width: 5px;
        margin: 0px;
        padding: 0px;
    }
}

.description .btn-primary{
    background-color: #A84AC9 !important;
    border: none;
    padding: 15px;
    margin-top: 40px;
    /* margin-left: 15px; */
}

.offer-section img {
    width: 150px;
}

.card {
    background-color: var(--secondary-color);
}

.shadow{
    box-shadow: 0 0.3rem 1rem rgba(0,0,0,.45)!important;
}

.gray-section {
    padding: 100px 0 !important;
}

.step-img {
    margin: 0 auto;
}

.step-img img {
    /* width: 500px; */
    margin: 0 auto;
}

.btn-contact {
    padding: 20px 40px;
    
}

.design-img {
    width: 80%;
}