body {
    /* touch-action: pan-x pan-y; */
    user-zoom: fixed;
}


body,h1,h2,h3,h4,h5,h6 {
    font-family: 'Comfortaa' !important;
}

ul {
    list-style-type: none;
}


/*---------------*/
/*---Prim Nav ---*/
/*---------------*/

.nav-left{
    padding: 10px 0 10px 80px;
    background-color: #f5f5f5 !important;
}

.nav-right{
    padding: 10px 0 10px 20px;
    background-image: url('../../static/Fondo3.png') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    color: white;
}

.bars {
    margin-right: 50px;
}

.up-nav-bar {
    border-bottom: 1px solid rgb(189, 189, 189);
}

span.nav-link.mr-3 {
    padding: 0px 30px;
}

.icon {
    color: white;
}

.bars {
    padding-left: 120px;
    cursor: pointer;
}

.nav-left h1 {
    font-size: 60px;
}

.nav-left h2 {
    font-size: 50px;
}


/*---------------*/
/*----Sec Nav ---*/
/*---------------*/

.second-nav-left{
    margin-top: 150px;
}

.second-nav-right{
    margin-top: -100px;
}

.custom-nav-bar h1 {
    font-weight: 900;
}

h2 span {
    color: #A84AC9;
    font-weight: 700;
}

#changingText {
    text-align: center;
    padding-right: 100px;
    margin: 80px 0;
}

.second-nav p {
    /* padding: 0 100px; */
    text-align: center;
}

.custom-nav-bar button {
    background-color: #A84AC9 !important;
    border: none;
    padding: 15px;
}

button a {
    text-decoration: none !important;
    color: white !important;
}

.col-md-6 .text-md-right{
    padding-left: 100px;
}

.add-margin {
    margin-bottom: 65px;
}

/*---------------*/
/*--Transicion---*/
/*---------------*/

.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 0; /* Inicialmente oculto */
    height: 100%;
    background-image: url(../../static/Fondo3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 2;
    transition: width 0.5s;
}

.overlay.active + .menu {
    width: 100%; /* Muestra el menú expandiéndose de derecha a izquierda */
}

.nav-left-menu {
    padding: 10px 0 10px 80px;
}

.menu-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-icon {
    font-size: 24px;
    cursor: pointer;
    margin-right: 50px;
}

.menu-bottom {
    margin-top: 100px;
    margin-left: 100px;
}

/* Estilos para las listas */
.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #fff;
}

.menu-list li {
    font-size: 80px;
    font-weight: 900;
}

/* Estilos para las redes sociales */
.social-list {
    display: flex;
    list-style: none;
    padding: 0px;
    margin-top: 60px;
    color: #fff;
}

.social-list-item {
    /* margin-right: 10px; */
    padding-right: 60px;
}

li a{
    text-decoration: none;
    color: #fff;
}


/*---------------*/
/*---Servicios---*/
/*---------------*/

.circle-icon {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Hace que la forma sea circular */
    background-color: #e9e9e9; /* Fondo de color */
    overflow: hidden; /* Oculta cualquier contenido que se salga del círculo */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    margin: 30px;
}

.circle-icon img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 10px; /* Centra la imagen en el círculo */
    margin-top: 20px;
}

/* ---------------------------------------- */

.services-section {
    margin-top: 100px;
}

.container h1 {
    padding: 0 20px 0 20px;
}

.h1-servicio {
    padding-left: 50px !important;
    padding-right: 50px !important;
}

.services-section {
    padding: 40px 0;
    margin-bottom: 50px;
}

.section-title {
    margin-bottom: 30px;
    padding-left: 20px;
}

.h1-services {
    padding-left: 120px !important;
    padding-right: 120px !important;
    margin-bottom: 50px !important;
}

.btn-custom {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #A84AC9;
    border-radius: 50px;
    background-color: white;
    color: #A84AC9;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 10px;
}

.img-equal-height {
    max-height: 270px; /* Establece la altura máxima deseada */
    width: 100%; /* Asegura que la imagen ocupe todo el ancho disponible */
    object-fit: cover;
}

.row-services {
    margin-left: 50px;
    margin-right: 50px;
}

.service-card {
    height: 100%;
}

.card-body .icon{
    margin-right: 10px;
}

.card-body .card-title {
    padding-top: 10px;
    padding-left: 20px;
    text-align: left;
}

.card-body-right p {
    text-align: left;
    padding-left: 80px;
}

.card-body-right {
    text-align: right;
    padding-right: 50px;
    margin-bottom: 10px;
}

h3 .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.card-text {
    margin-bottom: 20px;
}


.btn-custom:hover {
    background-color: #A84AC9;
    color: white;
}

/*---------------*/
/*---   Gray  ---*/
/*---------------*/

.gray-section {
    background-color: #f5f5f5;
    text-align: center;
    padding: 40px 0;
    position: relative;
    margin-bottom: 15px;
}

/* Estilos para el botón */
.btn-contact {
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    background-color: #A84AC9 !important;
    border: none;
    padding: 15px;
    position: absolute; /* Añadir posición absoluta */
    left: 50%;
    transform: translateX(-50%); /* Centrar horizontalmente */
    bottom: -15%; /* Centrar verticalmente en la mitad inferior */
    z-index: 1;
}

.container-gray {
    padding: 0 400px;
    margin: 0 100px;
}

/*---------------*/
/*-- Proyectos --*/
/*---------------*/

.gray-section-2 {
    background-color: #f5f5f5;
    text-align: center;
    padding: 40px 0;
    position: relative;
    height: 500px;
}


/*---------------*/
/*---  Calls  ---*/
/*---------------*/

.calls {
    background-color: #fff;
    text-align: center;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
}

.title {
    font-size: 40px;
    margin-bottom: 100px;
}

.circle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.circle {
    width: 50px;
    height: 50px;
    background-color: #A84AC9;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin: 10px 0;
}

.circle-line {
    width: 2px;
    height: 122px;
    background-color: #A84AC9;
    margin: 5px 0;
}

.cards-container-project {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.card-project {
    text-align: left;
    background-color: #fff;
    border: 2px solid #A84AC9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    /* margin: 10px; */
    /* width: 150px; */
}

.calls button {
    background-color: #A84AC9 !important;
    border: none;
    padding: 15px;
    margin-top: 220px;
    margin-right: 250px;
}

.right-container-project{
    margin-top: 150px;
}

#card-2 {
    margin-top: 35px;
}

.projects-left {
    margin-top: -60px;
}

/*---------------*/
/*--- Innovar ---*/
/*---------------*/

.gray-section-3 {
    background-color: #f5f5f5;
    padding: 40px 0px;
}

.gray-section-3 h1, .gray-section-3 h2 {
    margin: 40px 0px;
    font-weight: 600;
    padding: 20px 40px;
}

.gray-section-3 h4 {
    padding: 20px 200px;
}

.gray-section-3 img {
    margin-top: 80px;
    margin-left: -200px;
}

.rounded-top {
    border-top-right-radius: 40px !important;
    border-top-left-radius: 40px !important;
}

.rounded-bottom {
    border-bottom-right-radius: 40px !important;
    border-bottom-left-radius: 40px !important;
}

.pink-section {
    background-color: rgba(167, 74, 201, 0.5);
    padding: 40px;
}

.testimonios {
    padding: 50px;
}

.testimonios img{
    width: 8%;
    
}

.arrow-container {
    padding-left: 15px;
}

.team-section {
    margin-bottom: 50px;
}

.title-team {
    margin-bottom: 40px;
}

.gray-section-4{
    background-color: #f5f5f5;
    margin: 0 0 100px 0;
    padding: 100px 40px;
}

.gray-section-4 button {
    background-color: #A84AC9 !important;
    border: none;
    padding: 15px;
}

.go-back{

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #A84AC9 !important;

    margin: -50px 0 20px 20px;
}

.go-back img {
    margin: 12px;
}

footer {
    color: #fff;
    background-color: #A84AC9;
    padding: 40px;
}

footer li a {
    text-decoration: none !important;
}



